.buy-now {
    background-color: rgb(226, 218, 225);
    border-radius: 20px;
}

.bg-check {
    border-radius: 50px;
    background-color: rgb(58, 160, 163);
}

.title-card {
    background-color: rgb(212, 231, 182);
}